.logo {
  font-family: "Rubik Mono One"
}
.button-group {
  display: inline;
  list-style-type: none;
}
.section {
  height: 800px;
}
.section-footer {
height: 200px;
}
h4 {
  font-family: 'Rubik Mono One', sans-serif;
  color: red;
}
.controls {
  position: fixed;
  bottom: 20px;
  left: 48%;
  padding: 2em;
  background-color: gold;
  /*border-bottom: 5px solid rgba(0, 0, 0, .7);*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}
.arrows {

}
.sub-photo {
  border-radius: 2%;
  margin-top: 20px;
}
.finePrint {
  font-size: 10px;
}
.left {
  float: left !important;
}
