.logo {
  font-family: "Rubik Mono One"
}
.button-group {
  display: inline;
  list-style-type: none;
}
.section {
  height: 400px;
  padding: 5%;
}
a:hover {
  color: red;
}
.section-footer {
height: 150px;
}
li {
  list-style: none;
}
ul .menu-text {
  list-style-type: none;
}
ul .dropdown {
  list-style-type: none;
  display: -webkit-inline-box;
}
.serviceslist ul {

}
.index {
  font-family: 'Rubik Mono One', sans-serif;
  color: red;
}
.controls {
  position: fixed;
  bottom: 35px;
  left: 47%;
  padding: 2em;
  background-color: gold;
  /*border-bottom: 5px solid rgba(0, 0, 0, .7);*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  z-index: 100;
}
.arrows {
}
.sub-photo {
  border-radius: 2%;
  margin-top: 20px;
}
.finePrint {
  font-size: 10px;
}
.left {
  float: left !important;
}
{
  position: fixed;
}
h4 .gallery-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer, a {
  font-weight: bold;
  color: black;
}
nav {
  background-color: rgba(255, 255, 255, 0.54);
}
ul{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.subhead {
  text-align: center;
  font-family: "Oswald";
  font-weight: bold;
}
.gallery-row {
  text-align: center;
}
a img {
  height: 275px;
  width: 281px;
  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;

}
a img href {
  width: 100%;
}
