@import url(cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);

.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 50px;
    padding: 0;
    padding-right: 30px;
    color: #FFF;
    position: relative;
}

.top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    -webkit-box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    display: block;
    height: 2px;
    right: 0px;
    position: absolute;
    top: 1px;
    width: 20px;
}
.menu-text {
  font-family: "Quicksand" !important;
}
.menu-items {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase !important;
}
.main-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-logo{
  display: none;
  background-color: white;
  margin-top: 5%;
}
body {
  background: white;
}
.text {
  color: white;
}
ul {
  list-style-type: none;
}
h1.div-title {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
}
.subhead {
  font-family: "Quicksand";
  text-transform: uppercase;
}
.head-title {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase;
  padding-top:2%;
}
.head-title-two {
  font-family: "Raleway" !important;
  text-align: center;
  /*text-transform: uppercase;*/
  padding-top:2%;
}
.head-title-three {
  font-family: "Raleway" !important;
  text-align: left;
  padding-top: 2%;
}
.sub-text {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 5%;
}
.sub-text-two {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 2%;
  text-align: left;
}
.sub-text-three {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 2%;
  text-align: center;
}
.sub-text-three li {
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}
.fine-print {
  font-size: 10px;
}
.head-title-members {
  text-align:center;
  list-style: none;
}
hr {
  border: 0;
  width: 20%;
}
hr.smaller {
  width: 50%
}
hr.smallest {
  width: 25%
}
hr.long {
  width: 100%;
}
.sign-up {
  text-align: center;
}
.img-center img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  width:800px;
}
hr {
  border: solid black .1px;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.me {
  color: rgb(153, 101, 21);
  font-family: Open Sans Condensed;
  float: right;
}
.me:hover {
  color: black;
}
.details-div {
  color: black;
  font-family: Open Sans Condensed;
  margin-left: 5%;
}
.vcard {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer {
  background-color: #333333;
}
